@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Hanken Grotesk", sans-serif;
  background-color: #f2f5fa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-hero {
  background-color: hsla(139, 65%, 87%, 1);
  background-image: radial-gradient(
      at 98% 94%,
      hsla(227, 30%, 95%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 5% 7%, hsla(0, 14%, 94%, 1) 0px, transparent 50%);
}
